---
title: Buck Rogers
one-liner: At CDTMs graduation ceremony, Buck Rogers performed "Wagon Wheel" during this shooting.
tags: photography
---

.gallery.horizontal-gallery
  - (1..9).each do |number|
    = "<img src=\"Buck-Rogers/thumbnail-#{number}.jpg\">".html_safe