---
title: California
one-liner: California Family vacation 2013
tags: photography
---

.gallery.horizontal-gallery
  - (1..25).each do |number|
    = "<img src=\"California/thumbnail-#{number}.jpg\">".html_safe