---
title: California 2013
one-liner: After two quarters of research, a rewarding tour of central California.
tags: photography
---

.gallery.horizontal-gallery
  - (1..25).each do |number|
    = "<img src=\"California/thumbnail-#{number}.jpg\">".html_safe