---
title: qLearning Founder Portraits
one-liner: We needed business portraits for my startup, but we didn't want to compromise on fun.
tags: photography
---

.gallery.horizontal-gallery
  - (1..4).each do |number|
    = "<img src=\"qLearning/thumbnail-#{number}.jpg\">".html_safe