---
title: California
one-liner: California Family vacation 2013
tags: photography
---

.gallery.horizontal-gallery
  - (1..25).each do |number|
    = image_tag "2013-05-05-California/thumbnail-#{number}.jpg"
