---
title: Denmark 2014
one-liner: A late in the year visit to the northernmost part of Denmark, Skagen.
tags: photography
---

.gallery.horizontal-gallery
  - (1..7).each do |number|
    = "<img src=\"Denmark/thumbnail-#{number}.jpg\">".html_safe