@font-face {
  font-family: "DIN Next LT Pro";
  font-weight: 300;
  src: url("../fonts/DINNextLTPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "DIN Next LT Pro";
  font-weight: 400;
  src: url("../fonts/DINNextLTPro-Regular.otf") format("opentype");
}