@import "variables";

.projects {

  a {
    color: black;

    &:visited {
      // color: black;
    }
  }

  .project-item {

    margin-top: 2em;

    
    @media (min-width: $screen-sm-min) { 
      
      a {
        -webkit-transition: -webkit-filter 250ms ease-out, opacity 250ms ease-out;
        -webkit-filter: grayscale(100%);
        
        opacity: 0.5;
        
        &:hover {
          opacity: 1.0;
          -webkit-filter: grayscale(0);
          .description{
            opacity: 1.0;
          }
        }
      }
      
      .description {
        opacity: 0;
        -webkit-transition: opacity 250ms ease-out;
        position: relative;
        margin-top: -5.75em;
      }
      
    }
    
    @media (max-width: $screen-sm-min) { 
      
      .description {
        margin-top: 0em;
      }
      
    }

    img {
      border: 1px #EEE solid;

      // -webkit-transition: -webkit-filter 250ms ease-out;
      //
      // -webkit-filter: grayscale(100%);
      //
      // &:hover {
      //   -webkit-filter: grayscale(0);
      // }
    }

    .description {
      
      font-size: $font-size-small;
      line-height: 1.3em;
      padding: 0.75em 1em 1em 1em;
      margin-left: 1px;
      margin-right: 1px;
      margin-bottom: 1px;
      height: 5.75em;
      background-color: rgba(255, 255, 255, 0.750);
      
      p {
        margin-bottom: 5px;
      }

      .description-title {
        font-weight: 400;
        margin-top: 0;
      }

      .description-body {
        // font-weight: 500;
      }
    }
  }

}

