@import "variables";

.projects {

  padding-top: 10em;

  .project-item {

    margin-top: 2em;

    -webkit-transition: opacity 250ms ease-out;
    opacity: 0.5;

    &:hover {
      opacity: 1.0;
    }

    img {
      width: 100%;
      -webkit-transition: -webkit-filter 250ms ease-out;

      -webkit-filter: grayscale(100%);

      &:hover {
        -webkit-filter: grayscale(0);
      }
    }

    .description {
      position: relative;
      font-size: $font-size-small;
      padding: 5px 5px 5px 5px;
      margin: 0.5em 0.5em 0.5em 0.5em;

      p {
        margin-bottom: 5px;
      }

      .description-title {
        font-weight: 400;
        margin-top: 0;
      }

      .description-body {
        // font-weight: 500;
      }
    }
  }

}

