---
title: 3D Full Body Scanner
one-liner: Made from two kinects, sporting a functioning turntable, touch UI and code written in C, C# and F#.
tags: development
---
.row
  .col-sm-4
    :markdown
      tbd