---
title: Pull Request Feedback
one-liner: Pull Request Feedback is a thought technology for giving unsolicited feedback.
tags:
---

.col-sm-8
  <img src="Pull-Request-Feedback/slides.png">

.col-sm-4
  :markdown
    # Pull Request Feedback

    "Pull Request Feedback" is a [thought technology](http://www.merlinmann.com/roderick/) for giving _unsolicited feedback_. It is based on the open source software development culture, as manifested in pull requests, e.g. on [GitHub](https://github.com).

    These slides are the version of this talk that I gave at [LessWrong Community Weekend 2015](http://lesswrong.de/).
    
    [Slides](http://schubert.io/pr-feedback-slides.pdf) (`PDF`)  
    
    The poster will help you make more sense of the concept if you haven't heard the talk in person.
    
    [Poster](http://schubert.io/pr-feedback-poster.pdf) (`DIN A3`, `PDF`)

