---
title: Ludwig Schubert's portfolio
---

#projects.projects
  - blog.articles.each do |article|
    - tags = '[' + article.tags.map{|tag| '"' + tag + '"'}.join(', ') + ']'
    %figure.project-item.col-md-4.col-sm-6{ data: { :groups => tags, :'date-created' => article.date.strftime('%Y-%m-%d') } }
      = link_to article.url do
        =image_tag article_thumbnail(article)
        .description
          %p.description-title= article.title
          %p.description-body= article.data['one-liner']
  .col-xs-1.shuffle-sizer