---
title: Ludwig Schubert's portfolio
---

.projects

  - 36.times do
    .project-item.col-md-4.col-sm-6
      =image_tag "example.jpg"
      -# .description
      -#   %p.description-title Lorem Ipsum Dolor Sit
      -#   %p.description-body I am so sophisticated with my project descriptions using lotsa fancy words!
