---
title: Contact Ludwig Schubert
---
.row
  .col-sm-4
    :markdown
      # I code, learn, and visualize.
      
      After two years of building [qLearning](https://qlearning.io), I am back at school to pursue a Master's degree in Computer Science from Stanford University.
      
      ## Thoughts on Development
      
      My interest in computer science arose realtively late, initially out of a desire to build interactive information visualizations. Thus, during undergrad, I put a lot of focus on visualization, user interfaces and human computer interaction projects. 
      
      After exploring the state of the full stack of current web technologies, my focus back at university now is both human computer interaction and artificial intelligence. Apart from its potentially vast future potential, I believe artificial intelligence can help augment traditional interaction tasks to a level where most user-initiated interaction won't be needed anymore. So far, recommender systems and electronic assistants have not been able to fulfill that promise.
    
  .col-sm-8
    .image-with-annotation
      = image_tag "this-totally-goes-in-my-professional-portolio.jpg"
      .image-annotation
        :markdown
          Apparently this is how I like to dress when I am on [vacation in Denmark](../2015/10/08/Denmark.html) and 20km from the nearest city. 

.row
  .col-sm-4
    :markdown
      ## Thoughts on Photography
      
      In photography, while I sometimes photograph landscapes and stills, I primarily love how portraiture allows me to appreciate your individualism, let's me see you as a beautiful & interesting person. In our day-to-day lives we strive to fit in—whereas in photography, I'm looking for what makes you stand out.
      
      Practically speaking, this means your portraiture session is most likely going to be fun. At the same time it might be a little intimidating. Looking back, almost all portraits that I'm proud of have been taken in a situation that arose out of fun, of enjoying the moment, and of accepting that small act of self-portrayal we will both be participating in. Here is what some of the people I have photographed have to say:
      
      > "That was the nicest portraiture session I have ever experienced." 
      >
      > — Siegfried Numberger, entrepreneur
      
      > "I still can’t believe the person in those pictures is me…" 
      >
      > — Marie Geißler, art student

.row
  .col-sm-4
    :markdown

      And here are comments from people who have enojyed my images outside of a portraiture session:
      
      > "Hands down the best images we’ve seen in 15 years of graduation ceremonies." 
      >
      > — CDTM management team member
      
      > "Having Ludwig and his camera around gives a daily boost to your quality of life." 
      >
      > — Frederik Hagenauer, entrepreneur
  
  .col-sm-8
    .image-with-annotation
      = image_tag "graduates.jpg"
      .image-annotation A group of graduates have their picture taken at my photo booth in Maximilianeum, München.